<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Document</title>
        <style>
            table { 
                width: 100%;
                border-collapse: collapse;
            }
            tr{
                text-align:left;
                border: 1px solid;
            }

            tr:nth-child(2n) {
                background: rgb(203, 191, 191);
            }
        </style>
    </head>
    <body>
        <h1>
            Lista de Clientes 
        </h1>
        <p>
        Nessa página, listamos todos os clientes, incluindo fraudulentos ou não.<br>
        Clique no botão <b>"Ver detalhes"</b> para acessar todas as informações e transações de cada cliente.
        </p>
        <table >
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Ações</th>
              </tr>
              <tr>
                <td>Luan Fonseca de farias</td>
                <td>email@exemplo.com</td>
                <td>
                    <a href="transacoes.html">Ver detalhes </a>
                </td>
              </tr>
              <tr>
                <td>Angela Lucia</td>
                <td>email@exemplo.com</td>
                <td>
                    <a href="https://www.ver detalhes.com/">Ver detalhes </a>
                </td>
              </tr>
              <tr>
                <td>Sandra de Sá</td>
                <td>email@exemplo.com</td>
                <td>
                    <a href="https://www.ver detalhes.com/">Ver detalhes </a>
                </td>
              </tr>
              <tr>
                <td>Rita de Cassia</td>
                <td>email@exemplo.com</td>
                <td> 
                    <a href="https://www.ver detalhes.com/">Ver detalhes </a>
                </td>
              </tr>
          </table>
    </body>
</html>
