<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Document</title>
        <style>
            table { 
                width: 100%;
                border-collapse: collapse;
            }
            tr{
                text-align:left;
                border: 1px solid;
            }

            tr:nth-child(2n) {
                background: rgb(203, 191, 191);
            }
        </style>
    </head>
    <body>
        <a href="/">Voltar </a>
        <h1>Cliente: {{ cliente.nome }} </h1>
        <p>
            Nessa página, listamos todos os dados e transações desse cliente.
            <p>
                <strong>Nome:</strong> {{ cliente.nome }}
            </p>    
            <p> 
                <strong> Email:</strong> {{ cliente.email }}
            </p>
            
            <p> 
                <strong>Telefone:</strong> {{ cliente.telefone }}
            </p>
        </p>
        <h1>Lista de transações</h1>
        <table >
                <tr>
                    <th>ID</th>
                    <th>Data</th>
                    <th>Valor</th>
                </tr>
            {% for transacao in transacoes %}    
                <tr>
                    <td>#{{transacao.ID}}</td>
                    <td>{{transacao.data}}</td>
                    <td><R1>R${{transacao.valor}}</R1></td>
                </tr>
            {% endfor %}
          </table>
    </body>
</html>